.container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

  #contacts {
    border: 1px solid #ddd;
    padding: 10px;
    list-style: none;
    margin-bottom: 10px;
    display: flex; 
    flex-wrap: wrap; 
  }

  #contacts li {
    margin-right: 10px; 
  }